<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]<br/>SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]<br/></td></tr>
<tr><td>smoke</td><td>SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]<br/>SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]<br/>TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]<br/>TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]<br/>SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]<br/>SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]<br/></td></tr>
</table>
