<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SearchProductTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b3b1">  <td>20/12/04 14:41:39</td>   <td>0</td> <td title="&gt;&gt;SetupGridForSearchProductTest.startHub()[pri:0, instance:com.automationpractice.searchproduct.SetupGridForSearchProductTest@33b37288]">&gt;&gt;startHub</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:40</td>   <td>918</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchQueryTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:40</td>   <td>918</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchQueryTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:45</td>   <td>5550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:46</td>   <td>6714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:47</td>   <td>7800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>8160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>8449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>8722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>8907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>10723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>10922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>11122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>11165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>11451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>11777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:53</td>   <td>13308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>14190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>14422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>14647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>14805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchQueryTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:41:55</td>   <td>15492</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TopMenuTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:55</td>   <td>15729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:56</td>   <td>17002</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchQueryTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:41:56</td>   <td>17070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TopMenuTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:00</td>   <td>20292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:02</td>   <td>23070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>23348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>23567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>23981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:05</td>   <td>26124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>26451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>26746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>27010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:07</td>   <td>27374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:07</td>   <td>27518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:09</td>   <td>29931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:09</td>   <td>29961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>30458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>30693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>31032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:11</td>   <td>31432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>32486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>32876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>32921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>33382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>33481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>34014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:14</td>   <td>34851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>35401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>35437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>35952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>36068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:16</td>   <td>36470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:16</td>   <td>37114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>37325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>37558</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TopMenuTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>37871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:18</td>   <td>38440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:18</td>   <td>38613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:18</td>   <td>38980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:20</td>   <td>40525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:20</td>   <td>40917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:21</td>   <td>41237</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TopMenuTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:21</td>   <td>41348</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:23</td>   <td>43993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:27</td>   <td>47552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:27</td>   <td>47821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:31</td>   <td>51757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:32</td>   <td>52529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:33</td>   <td>53375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:38</td>   <td>58613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:42</td>   <td>62251</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/12/04 14:42:42</td>   <td>62383</td> <td title="&lt;&lt;SetupGridForSearchProductTest.stopGrid()[pri:0, instance:com.automationpractice.searchproduct.SetupGridForSearchProductTest@33b37288]">&lt;&lt;stopGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
</table>
