<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SearchProductTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchQueryTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:56</td>   <td>2197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchQueryTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>22753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TopMenuTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:21</td>   <td>26432</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TopMenuTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:33</td>   <td>38570</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:42</td>   <td>47446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortTest.quitBrowser()[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:00</td>   <td>5487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:02</td>   <td>8265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>8543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>8762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:03</td>   <td>9176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:05</td>   <td>11319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>11646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>11941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:06</td>   <td>12205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:07</td>   <td>12569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:07</td>   <td>12713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:09</td>   <td>15126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:09</td>   <td>15156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>15653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>15888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:10</td>   <td>16227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:11</td>   <td>16627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>17681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>18071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:12</td>   <td>18116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>18577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>18676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:13</td>   <td>19209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:14</td>   <td>20046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>20596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>20632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>21147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:15</td>   <td>21263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:16</td>   <td>21665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:16</td>   <td>22309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>22520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:17</td>   <td>23066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:18</td>   <td>23635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:18</td>   <td>24175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:20</td>   <td>25720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:42:20</td>   <td>26112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TopMenuTest.searchProductsInTopMenu(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">searchProductsInTopMenu</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:45</td>   <td>-9255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:46</td>   <td>-8091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:47</td>   <td>-7005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>-6645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>-6356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>-6083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:48</td>   <td>-5898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>-4082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>-3883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:50</td>   <td>-3683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>-3354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>-3028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>-615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>-383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:51</td>   <td>-3640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:53</td>   <td>-1497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:54</td>   <td>-158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:55</td>   <td>924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchQueryTest.searchQueryTestForNonExistingProducts(java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">searchQueryTestForNonExistingProducts</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:40</td>   <td>-13887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchQueryTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@17baae6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/12/04 14:41:40</td>   <td>-13887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchQueryTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SearchQueryTest@77a57272]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:41:55</td>   <td>687</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TopMenuTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@7181ae3f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/12/04 14:41:56</td>   <td>2265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TopMenuTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.TopMenuTest@69379752]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:18</td>   <td>23808</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:21</td>   <td>26543</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:23</td>   <td>29188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:27</td>   <td>32747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:27</td>   <td>33016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:31</td>   <td>36952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:32</td>   <td>37724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@46238e3f]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-2@738605898</td>   <td></td> </tr>
<tr bgcolor="846679">  <td>20/12/04 14:42:38</td>   <td>43808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortTest.sortProductsAscendingByPrice(java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.searchproduct.SortTest@27fe3806]">sortProductsAscendingByPrice</td> 
  <td>TestNG-tests-1@1845628169</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/12/04 14:41:39</td>   <td>-14805</td> <td title="&gt;&gt;SetupGridForSearchProductTest.startHub()[pri:0, instance:com.automationpractice.searchproduct.SetupGridForSearchProductTest@33b37288]">&gt;&gt;startHub</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/12/04 14:42:42</td>   <td>47578</td> <td title="&lt;&lt;SetupGridForSearchProductTest.stopGrid()[pri:0, instance:com.automationpractice.searchproduct.SetupGridForSearchProductTest@33b37288]">&lt;&lt;stopGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
</table>
