<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidEmail(java.lang.String)[pri:1, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]<br/>UnsuccessfulLoginTest.unsuccessfulLoginWithValidEmailAndEmptyPassword()[pri:3, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]<br/>UnsuccessfulLoginTest.unsuccessfulLoginWithEmptyEmailAndValidPassword()[pri:4, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]<br/>UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]<br/></td></tr>
<tr><td>smoke</td><td>SuccessfulLoginTest.successfulLogin()[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@166fa74d]<br/></td></tr>
</table>
