<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Chrome Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuccessfulLoginTest.quitBrowser()[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@166fa74d]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:34:08</td>   <td>25085</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnsuccessfulLoginTest.quitBrowser()[pri:0, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:34</td>   <td>-9847</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuccessfulLoginTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@166fa74d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:43</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnsuccessfulLoginTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/12/04 14:33:33</td>   <td>-10164</td> <td title="&gt;&gt;SetupGridForLoginTest.startHub()[pri:0, instance:com.automationpractice.login.SetupGridForLoginTest@101df177]">&gt;&gt;startHub</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/12/04 14:34:09</td>   <td>25146</td> <td title="&lt;&lt;SetupGridForLoginTest.stopGrid()[pri:0, instance:com.automationpractice.login.SetupGridForLoginTest@101df177]">&lt;&lt;stopGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:37</td>   <td>-6865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuccessfulLoginTest.successfulLogin()[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@166fa74d]">successfulLogin</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:34:06</td>   <td>22900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithEmptyEmailAndValidPassword()[pri:4, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithEmptyEmailAndValidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:46</td>   <td>3023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidEmail(java.lang.String)[pri:1, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidEmail</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:54</td>   <td>10571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidEmail(java.lang.String)[pri:1, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidEmail</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:56</td>   <td>12678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:58</td>   <td>14827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:34:00</td>   <td>17064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:34:03</td>   <td>19250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:34:04</td>   <td>21021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithValidEmailAndEmptyPassword()[pri:3, instance:com.automationpractice.login.UnsuccessfulLoginTest@40f08448]">unsuccessfulLoginWithValidEmailAndEmptyPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
</table>
