<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Firefox Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>20/12/04 14:33:01</td>   <td>0</td> <td title="&gt;&gt;SetupGridForLoginTest.startHub()[pri:0, instance:com.automationpractice.login.SetupGridForLoginTest@3d0f8e03]">&gt;&gt;startHub</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:02</td>   <td>893</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuccessfulLoginTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@6366ebe0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:04</td>   <td>3587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuccessfulLoginTest.successfulLogin()[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@6366ebe0]">successfulLogin</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/12/04 14:33:10</td>   <td>9139</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuccessfulLoginTest.quitBrowser()[pri:0, instance:com.automationpractice.login.SuccessfulLoginTest@6366ebe0]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:11</td>   <td>9818</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnsuccessfulLoginTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:14</td>   <td>12709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidEmail(java.lang.String)[pri:1, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidEmail</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:18</td>   <td>17381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidEmail(java.lang.String)[pri:1, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidEmail</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:20</td>   <td>19336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:22</td>   <td>21186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:24</td>   <td>23554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:26</td>   <td>25561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithInvalidPassword(java.lang.String)[pri:2, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithInvalidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:28</td>   <td>27287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithValidEmailAndEmptyPassword()[pri:3, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithValidEmailAndEmptyPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:30</td>   <td>29303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnsuccessfulLoginTest.unsuccessfulLoginWithEmptyEmailAndValidPassword()[pri:4, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">unsuccessfulLoginWithEmptyEmailAndValidPassword</td> 
  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/12/04 14:33:32</td>   <td>31463</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnsuccessfulLoginTest.quitBrowser()[pri:0, instance:com.automationpractice.login.UnsuccessfulLoginTest@44f75083]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/12/04 14:33:33</td>   <td>32335</td> <td title="&lt;&lt;SetupGridForLoginTest.stopGrid()[pri:0, instance:com.automationpractice.login.SetupGridForLoginTest@3d0f8e03]">&lt;&lt;stopGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756185697</td>   <td></td> </tr>
</table>
